@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import '~antd/dist/antd.css';
.container {
  text-align: center;
}

.left {
  position: absolute;
  width: 37%;
  height: 100%;
  background-image: url(../../public/bg-left.png);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
}

.right {
  position: absolute;
  width: 63%;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .logo {
  width: 24%;
  margin: 28% 0 8%;
}

.left h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.1em;
  margin: 8% 0;
  color: #FFFFFF;
}

.left p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 8% 0 ;
}

.left Button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  width: 60%;
}

.right .card {
  width: 60%;
  border-radius: 8px;
  background: #F1FFFE;
}

.right h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  margin: 0 0 8% 0;
}

.right Form {
  width: 80%;
  margin: 0 auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #444B59;
}

.right .position {
  margin: 0 0 2% 0;
}

.right .radio {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #444B59;
  margin: 0 0 8% 0;
}

.right .link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #8699DA;
}

.right Button {
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  background: #63CABD;
  box-shadow: 4px 8px 12px rgba(78, 99, 141, 0.06), inset 0px 4px 12px rgba(200, 211, 249, 0.6);
  border-radius: 4px;
  border-color: #63CABD;
}

.right .btn {
  width: 28%;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid #009989;
  border-radius: 5px;
  margin: 0 0 4%;
}

.right .btn-image {
  width: 100%;
  padding: 8%;
}

.right .text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #444B59;
}

.right hr {
  padding: 0;
  width: 80%;
  margin: 4% auto;
  border: none;
  background: #FFFFFF;
  border: 1px solid #C8D3F9;
  transform: rotate(-0.35deg);
  text-align: center;
}
.right hr:after {
  content: "or sign in with ";
  display: inline-block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #444B59;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
  background: #F1FFFE;
}

.right .signin-detail {
  display: inline-flex;
}

@media screen and (min-width: 1920px ){

  .left .logo {
    width: 32%;
    margin: 36% 0 8%;
  }
  
  .left h2 {
    font-size: 40px;
  }
  
  .left p {
    font-size: 20px;
    line-height: 28px;
  }
  
  .left Button {
    font-size: 24px;
    height: fit-content;
  }

  
  .right h2 {
    font-size: 36px;
    line-height: 42px;
    margin: 8% 0;
  }
  
  .right Form label {
    font-size: 20px;
  }
  
  .right Form Input {
    font-size: 20px;
  }
  
  .right .radio {
    font-size: 24px;
    line-height: 24px;
  }
  
  .right .link {
    font-size: 24px;
    line-height: 24px;
  }
  
  .right Button {
    height: fit-content;
    font-size: 24px;
    line-height: 24px;
    padding: 2%;
  }
  
  .right .btn {
    width: 28%;
    height: fit-content;
    margin: 0 0 6%;
  }
  
  
  .right .text {
    font-size: 24px;
    line-height: 24px;
  }

  .right hr {
    margin: 8% auto;
    background-color: #C8D3F9;
    border: 2px solid #C8D3F9;
  }
  .right hr:after {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1920px ) and (min-width: 1680px){

  .left .logo {
    width: 32%;
    margin: 30% 0 16%;
  }
  
  .left h2 {
    font-size: 40px;
  }
  
  .left p {
    font-size: 20px;
    line-height: 28px;
  }
  
  .left Button {
    font-size: 24px;
    height: fit-content;
  }

  
  .right h2 {
    font-size: 36px;
    line-height: 42px;
    margin: 8% 0 8% 0;
  }
  
  .right Form label {
    font-size: 20px;
  }
  
  .right Form Input {
    font-size: 20px;
  }
  
  .right .radio {
    font-size: 24px;
    line-height: 24px;
  }
  
  .right .link {
    font-size: 24px;
    line-height: 24px;
  }
  
  .right Button {
    height: fit-content;
    font-size: 24px;
    line-height: 24px;
    padding: 2%;
  }
  
  .right .btn {
    width: 28%;
    height: fit-content;
    margin: 0 0 6%;
  }
  
  
  .right .text {
    font-size: 24px;
    line-height: 24px;
  }

  .right hr {
    margin: 8% auto;
    border: 2px solid #C8D3F9;
  }
  .right hr:after {
    font-size: 24px;
    line-height: 24px;
  }
}

/* @media screen and (max-width: 1680px ) {

}

@media screen and (max-width: 1199px ) {

}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 880px){

}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 570px){

} */